/* theme-switcher.css */

.theme-switcher {
    display: flex;
    align-items: center;
}

.theme-switcher button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    cursor: pointer;
    color: var(--text-color);
    transition: background-color 0.2s, color 0.2s, opacity 0.2s;
}

.theme-switcher button:hover {
    opacity: 1;
}

.theme-switcher svg {
    width: 20px;
    height: 20px;
}

/* Logic to toggle icon visibility based on the html data-theme attribute */
.theme-switcher .icon-sun {
    display: none;
}
.theme-switcher .icon-moon {
    display: block;
}

html[data-theme='dark'] .theme-switcher .icon-sun {
    display: block;
}
html[data-theme='dark'] .theme-switcher .icon-moon {
    display: none;
}